
select.round {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), radial-gradient(#ddd 70%, transparent 72%) !important;
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - .5em) .5em !important;
    background-size: 5px 5px, 5px 5px, 1.5em 1.5em !important;
    background-repeat: no-repeat !important;
}

select.round:focus {
    background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), radial-gradient(gray 70%, transparent 72%);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - .5em) .5em;
    background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}


select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    -moz-padding-start: calc(10px - 3px);
    width: 20%;
    min-width:240px;
    height: 40px;
    -moz-padding-start: calc(10px - 3px);
    padding-left: 10px;
    background: green;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
    outline: none;

}

select option {
    color: white;
}

select:focus::-ms-value {
    background-color: transparent;
}



div.main {

    background-color: yellowgreen;
    margin-top:-10px;
    padding-top:-10px;
    height:100%;
    padding-bottom:50%;


}

div.cal_container {

    margin: 5%;
    margin-top: -20px;
    margin-bottom:40px;
    border: solid silver 6px;
    border-radius:5px;
    height:50%;
    
}

.control_container {

   margin: 50px;
   margin-top:-10px;
   padding-top:20px;
   padding-left:20px;
   
   
}

.pl-1 {

    white-space: pre;

}

#downloadICS {
    border: solid silver 1px;
    margin-left: 40px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    -moz-padding-start: calc(10px - 3px);
    width: 10%;
    min-width:150px;
    height: 40px;
    -moz-padding-start: calc(10px - 3px);
    padding-left: 10px;
    background: green;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
    outline: none;
}